.logoContainer{
    display: center;
    text-align: center;
    width: 350px;
    display: block;
    margin: 30px;
    margin-left: 3px;
    margin-bottom: 0px;
}

.modalHeader  {
  color: white; /* ou qualquer outra cor desejada */
  background-color: rgb(18, 113, 255);
}

.label {
    color: rgb(18, 113, 255); 
}

.introSignUp {
    margin-top: 1rem;
    color: rgb(18, 113, 255);
    cursor: pointer;
}

.space {
    margin-bottom: 20px;
}

.textTerms {
    color: rgb(49, 49, 49);
    font-size: 15px;
    max-width: 400px;
    
    margin-top: 15px;
    font-weight: 500;
}