.logoContainer{
    display: center;
    text-align: center;
    width: 350px;
    display: block;
    border-radius: 10px;
    margin: 30px;
    margin-left: 3px;
    margin-bottom: 0px;
}

.modalHeader  {
  color: white; /* ou qualquer outra cor desejada */
  background-color: rgb(255, 255, 255);
}

.label {
    color: rgb(82, 82, 82); 
    font-family: raleway;
}

.introSignUp {
    margin-top: 1rem;
    color: rgb(89, 89, 89);
    font-family: raleway;
    cursor: pointer;
}

.space {
    margin-bottom: 20px;
}


.textTerms {
    color: rgb(76, 76, 76);
    font-size: 15px;
    max-width: 400px;
    font-family: raleway;
    margin-top: 15px;
    font-weight:lighter;
}
